.Navbar{
    height: 150px;
    background-color: plum;
}
.logo{
    display: inline-block;
    margin-top: 0%;
}
.pages{
    display: inline-block;
    float: right;
    margin-top: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    font-size: 20px;
    color: rgb(248, 213, 244);
    margin-right: 50px;
    text-decoration: none;
    background-color: rgb(18, 13, 82);

}
a:hover{
   background-color: greenyellow;
   transition-timing-function: ease-in;
   transition-duration: 1s;
   color: black;
}
h1{
    margin-left: 60px;
    margin-right: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(13, 36, 80);
}
pre{
    margin-right: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.km{
    color: black;
    margin-left: 60px;
    text-align: center;
    font-size: 30px;
    height: 40px;
    width: 150px;
    background-color: yellow;
    font-family: fantasy;
}
.text{
    width: 600px;
}
.image{
    margin-left:140%;
    margin-top: -45%;
}
body{
    background-color: rgb(201, 201, 255);
    margin: 0px;
}
@media (min-width: 1284px) {
    .Navbar{
        width: 100%;
    }
    .image{
        margin-left: 120%;
    }
}
